body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin: 0;
  /* transform: rotate(25deg); */
  overflow: hidden;
}

.box {
  display: flex;
  justify-content: space-around;
  width: 33.3%;
  position: relative;
  /* border: 1px solid black; */
}

.horz-box {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
}

.vert-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;

  z-index: 10;
}

@keyframes grow-bar-width {
  0% {
    height: 0%;
    background-color: grey;
  }
  50% {
    height: 100%;
    background-color: Black;
  }
  100% {
    height: 0%;
    background-color: grey;
  }
}

.vert-bar {
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-name: grow-bar-width;
  width: 1px;
  height: 0%;
  background-color: rgb(24, 24, 24);
}

@keyframes grow-bar-height {
  00% {
    width: 0%;
    background-color: grey;
  }
  50% {
    width: 100%;
    background-color: black;
  }
}

.horz-bar {
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-name: grow-bar-height;
  height: 1px;
  width: 0%;
  background-color: rgb(31, 31, 31);
}

@keyframes circle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.circle {
  font-family: monospace;
  font-size: 1.5em;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-name: circle;
  width: 50vh;
  height: 50vh;
  color: white;
  background-color: rgb(31, 31, 31);
  border-radius: 50%;
  margin-top: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
