body {
  box-sizing: border-box;
  width: 100vw;
  width: calc(var(--vw, 1vw) * 100);
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
a:hover {
  text-decoration: underline;
}

.modal a {
  color: black;
}

.navigation {
  background-color: white;
  font-size: 0.7em;
  color: #bbc7d7;
  position: fixed;
  left: 0px;
  top: 0;
  width: 90px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 6;
}

.navigation .location {
  cursor: pointer;
  background-color: unset;
  padding-right: 4px;
  padding-left: 4px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: color 2s;
  /* height: 11%; */
  line-height: 0;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.navigation .dot {
  position: fixed;
  top: -38px;
  left: 85px;
  background-color: transparent;
  transition: top 2s, border-color 2s, border-width 2s, left 2s;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #dfe3eb transparent transparent;
}

.navigation .bar {
  width: 80px;

  border-bottom: 1px solid lightgray;
}

.location.welcome {
  font-size: 3em;
  /* font-family: "Libre Baskerville Regular", serif; */
}

.location.welcome p {
  margin: 0.75em;
}

.stage {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 90px;
}

.fillvh {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.frame {
  position: relative;
}

.lodging-options {
  padding-top: 5vh;
  width: 75vw;
  flex-wrap: wrap;
}

.lodging-options div {
  flex: 1;
  flex-wrap: wrap;
  padding-bottom: 16px;
}

.lodging-options .flex-column {
  min-height: 325px;
}

.flex {
  width: 100%;
  display: flex;
  align-content: center;

  justify-content: space-around;
}

.flex-column {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.welcome {
  background-color: #dfe3eb;
  justify-content: center;
}

.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.welcome .background {
  background: url("./images/background-inspired-by-wallpaper.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 0.5;
}

.stage .where {
  background-color: #f8bf9c;
  justify-content: center;
}

.stage .where p {
  margin: 0;
  padding: 15px;
  color: #3b4559;
  z-index: 20;
}

.stage .lodging p {
  margin: 0;
  padding: 15px;
  color: #f1f1f1;
  z-index: 20;
}

.section-title {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;

  font-size: 1.25em;
  letter-spacing: 0.5em;
  margin-right: -0.75em !important;
}

.section-headline {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-size: 3.5em;
  font-style: italic;
  padding-bottom: 5px !important;
}

.section-sub-headline {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  padding-top: 5px !important;
  font-size: 1.5em;
  font-style: italic;
}

.section-text {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  max-width: 400px;
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.02em;
  line-height: 1.25em;
}

.lodging .section-text {
  min-height: 110px;
}

.lodging-item {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  max-width: 400px;
  text-align: center;
  font-size: 0.85em;
  letter-spacing: 0.02em;
  line-height: 1.25em;
}
.caption-text {
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: italic;
  max-width: 400px;
  text-align: center;
  font-size: 0.75em;
  letter-spacing: 0.01em;
  line-height: 1em;
}

.where .background {
  /* background: url("./images/background-weylin-doodle-wedding-yay.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 0.5; */
}

.lodging .background {
  /* background: url("./images/a-simple-map-of-nyc.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; */

  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 0.3;
}

.where .map-it {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  margin-top: 10px;
  font-size: 0.75em;
  z-index: 20;
  letter-spacing: 0.5em;
  text-align: center;
  margin-left: 0.3em;
  cursor: pointer;
  text-decoration: none;
}

.where .map-it p {
  border: 1px solid #3b4559;
  font-weight: bold;
  margin-right: -0.3em;
}

.where .map-it:hover p {
  background-color: white;
  border: 1px solid white;
  color: #f8bf9c;
}

.lodging-image {
  flex: 1;
  display: flex;
  justify-content: center;
}
.lodging-image img {
  width: 200px;
  height: 200px;
}

.lodging .travel-link {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  margin-top: 10px;
  z-index: 20;
  letter-spacing: 0.5em;
  font-size: 0.75em;
  margin-left: 0.3em;
  text-align: center;
  cursor: pointer;
  text-decoration: none;

  color: white;
  font-weight: bold;
}

.lodging .travel-link p {
  padding-right: 0.3em;
  border: 1px solid white;
}

.lodging .travel-link:hover p {
  background-color: white;
  color: #3a4356;
}

.lodging {
  background-color: #3a4356;
  justify-content: center;
  position: relative;
}

.registry {
  background-color: #dce3e3;
  justify-content: center;
}

.images {
  background-color: #3b4559;
  justify-content: center;
}

.our-logo-which-includes-date {
  background: url("./images/our-logo-which-includes-date.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: 10;
  background-size: 350px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.our-logo-which-includes-date-white {
  background: url("./images/our-logo-which-includes-date-white.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 350px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
}

.hero {
  background: url("./images/standing-in-the-street.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  height: 100vh;
  -webkit-transition: opacity 3s; /* Safari */
  transition: opacity 3s;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

#picture-viewer-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 90vw;
  max-height: 90vh;
}

#picture-caption {
  margin: auto;
  display: block;
  width: 80%;
  text-align: center;
  color: #ccc;
}

#picture-caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.picture-left-right {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modal-backdrop {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #3b4559;
  opacity: 0.65;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close {
  position: fixed;
  right: 16px;
  top: 16px;
  cursor: pointer;
}

.modal {
  padding: 5vh;
  margin-left: 15vw;
  margin-top: 15vh;
  width: 70vw;
  height: 70vh;
  max-height: 700px;
  z-index: 101;
  background-color: #3b4559;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.modal .address {
  text-decoration: none;
  color: black;
}

.modal p {
  margin: 0;
}

.modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
}

.line {
  border-bottom: 1px solid grey;
  width: 50vw;
}

.booking-path {
  font-weight: bold;
  padding-bottom: 10px;
  letter-spacing: 0.25em;
}

.modal .section-text {
  font-size: 1.25em;
}

.bold {
  font-weight: bolder;
}

@media only screen and (max-width: 1000px) {
  .lodging-options {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1400px) {
  .modal {
    padding: unset;
    margin-left: 0vw;
    margin-top: 0vh;
    width: 100vw;
    height: 100vh;
  }

  .modal .section-headline {
    font-size: 2.5em;
  }
  .lodging .background {
    background: unset;
  }
  .stage {
    padding-left: unset;
  }
  .navigation {
    display: none;
  }
  .hero {
    background-attachment: scroll;
  }
  .our-logo-which-includes-date {
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position: center;
    background-size: 350px;
    position: absolute;
    top: 10px;
  }

  .our-logo-which-includes-date-white {
    display: none;
  }
  .remove-fillvh {
    height: unset;
  }
}

.modal-backdrop {
  display: none;
}
.modal {
  display: none;
}
