body {
  box-sizing: border-box;
  width: 100vw;
  width: calc(var(--vw, 1vw) * 100);
  font-family: "Libre Baskerville", serif;
  overflow-x: hidden;
}

.navigation {
  background-color: white;
  font-size: 0.7em;
  color: gray;
  position: fixed;
  left: 0px;
  top: 0;
  width: 90px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 6;
}

.navigation .location {
  cursor: pointer;
  font-style: italic;
  background-color: unset;
  padding-right: 4px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: color 2s;
}

.navigation .dot {
  position: fixed;
  top: -38px;
  left: 85px;
  background-color: transparent;
  transition: top 2s, border-color 2s, border-width 2s, left 2s;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #dfe3eb transparent transparent;
}
.navigation .bar {
  width: 90px;
  border-bottom: 1px solid lightgray;
}

.stage {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 95px;
}

.fillvh {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.frame {
  position: relative;
}

.flex {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.flex-column {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.welcome {
  background-color: #dfe3eb;
}

.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.welcome .background {
  background: url("./images/background-inspired-by-wallpaper.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 1;
}

.where {
  background-color: #f8bf9d;
}

.guide {
  background-color: #697e95;
}

.registry {
  background-color: #f5918e;
}

.images {
  background-color: #3b4559;
}

.our-logo-which-includes-date {
  background: url("./images/our-logo-which-includes-date.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  z-index: 10;
  background-size: 350px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.our-logo-which-includes-date-white {
  background: url("./images/our-logo-which-includes-date-white.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 350px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
}

.standing-in-the-street {
  background: url("./images/standing-in-the-street.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.picture-modal {
  display: none;
  position: fixed;
  z-index: 20;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #697e95;
}

.picture-modal-container {
  padding: 8px;
}

.picture-modal-container-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#picture-viewer-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 90vw;
  max-height: 90vh;
}

#picture-caption {
  margin: auto;
  display: block;
  width: 80%;
  text-align: center;
  color: #ccc;
}

#picture-caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.picture-left-right {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
#close-picture-viewer {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#close-picture-viewer:hover,
#close-picture-viewer:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .stage {
    padding-left: unset;
  }
  .navigation {
    display: none;
  }
  .standing-in-the-street {
    background-size: contain;
  }
  .our-logo-which-includes-date {
    background-repeat: no-repeat;
    background-attachment: unset;
    background-position: center;
    background-size: 350px;
    position: absolute;
    top: 10px;
  }
  .standing-in-the-street {
    display: none;
  }
  .our-logo-which-includes-date-white {
    display: none;
  }
  .remove-fillvh {
    height: unset;
  }
}
